<script>
class UrlEnParser extends EndecodeParser {
    constructor(content) {
        super()
        this.content = content
        this.name = "UrlEncode"
    }

    isMatch() {
        let exp = RegExp("^http", "i")
        if (exp.test(this.content)) {
            return true
        }
        return false
    }

    do() {
        this.reset()
        $("#urlTxtResult").val(encodeURIComponent(this.content))
        $("#urlResult").show()
    }
}
</script>

<div id="urlResult" class="result" style="display: none;">
    <br />
    <input type="text" class="clickSel txtResult" style="width: 100%;" id="urlTxtResult" />
</div>