<!doctype html>
<html>
<header>
    <title>{lang index.site_title}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{lang index.site_description}">


    <script src="{assets static/js/jquery-3.6.0.min.js}"></script>
    <script src="{assets static/js/common.js}"></script>
    <script src="{assets static/bootstrap-3.4.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="{assets static/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="{assets static/bootstrap-3.4.1/css/bootstrap.min.css}" />
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=62514632b0813d0019d65584&product=inline-share-buttons" async="async"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3BWJYBDLKM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3BWJYBDLKM');
    </script>
</header>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" title="{lang index.site_title}">Dev-Tools</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">{lang index.language} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a data-lang="en" href="/en">English</a></li>
                                <li><a data-lang="fr" href="/fr">Français</a></li>
                                <li><a data-lang="de" href="/de">Deutsch</a></li>
                                <li><a data-lang="no" href="/no">Norsk</a></li>
                                <li><a data-lang="ro" href="/ro">Romanian</a></li>
                                <li><a data-lang="fi" href="/fi">Suomi</a></li>
                                <li><a data-lang="da" href="/da">Dansk</a></li>
                                <li><a data-lang="ko" href="/ko">한국어</a></li>
                                <li><a data-lang="ja" href="/ja">日本語</a></li>
                                <li><a data-lang="nl" href="/nl">Nederlands</a></li>
                                <li><a data-lang="pt" href="/pt">Português</a></li>
                                <li><a data-lang="es" href="/es">Español</a></li>
                                <li><a data-lang="ru" href="/ru">Русский</a></li>
                                <li><a data-lang="it" href="/it">Italiano</a></li>
                                <li><a data-lang="hu" href="/hu">Hungarian</a></li>
                                <li><a data-lang="tr" href="/tr">Türkçe</a></li>
                                <li><a data-lang="sl" href="/sl">Slovenian</a></li>
                                <li><a data-lang="pl" href="/pl">Polski</a></li>
                                <li><a data-lang="he" href="/he">עברית</a></li>
                                <li><a data-lang="vi" href="/vi">Tiếng Việt</a></li>
                                <li><a data-lang="el" href="/el">Greek</a></li>
                                <li><a data-lang="id" href="/id">Indonesian</a></li>
                                <li><a data-lang="th" href="/th">ไทย</a></li>
                                <li><a data-lang="cs" href="/cs">Čeština</a></li>
                                <li><a data-lang="zh-cn" href="/zh-cn">简体中文</a></li>
                                <li><a data-lang="zh-tw" href="/zh-tw">繁體中文</a></li>
                                <li><a data-lang="sv" href="/sv">Svenska</a></li>
                                <li><a data-lang="ar" href="/ar">العربية</a></li>
                                <li><a data-lang="sk" href="/sk">Slovenčina</a></li>
                                <li><a data-lang="bg" href="/bg">Bulgarian</a></li>
                                <li><a data-lang="bn" href="/bn">বাঙালি</a></li>
                                <li><a data-lang="hi" href="/hi">हिन्दी / Hindī</a></li>
                                <!-- <li role="separator" class="divider"></li> -->
                                <!-- <li><a href="#">Separated link</a></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {if isset($breadcrumbs) and false}
        <div class="container">
            <ol class="breadcrumb">
                {loop $breadcrumbs $idx $item}
                    {if $idx==count($breadcrumbs)-1}
                        <li class="active">{$item['text']}</li>
                    {else}
                        <li><a href="{$item['href']}">{$item['text']}</a></li>
                    {/if}
                {/loop}
            </ol>
        </div>
        {/if}
    </header>